.header{
    display: flex;
    align-items: center;
    min-width: 60%;
    justify-self: center;
    justify-content: space-evenly;
    margin: 1rem 0;

    &__title{
        font-size: 4rem;
        font-family: 'Gloria Hallelujah', cursive;
    }

    &__nav{
        width: 50%;
    }


}

.menu{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}